<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- bloc-7 -->
<div class="bloc bgc-blue-gray l-bloc" id="bloc-7">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="mg-clear tc-black text-center">
          Les Concerts du moment
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- bloc-7 END -->

<!-- bloc-8 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-8">
  <div class="container">
    <div class="row voffset">
      <div class="col-sm-12">
        <form id="form_36" novalidate>
          <div class="form-group">
            <label>
              Rechercher un concert
            </label>
            <%= text_field :input , :_1115 , {:class=>'form-control', :placeholder=>'Ex : Nekfeu'} %>
          </div>
          <%= submit_tag 'Rechercher', {:class=>'btn btn-block btn-blue-gray'} %>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- bloc-8 END -->

<!-- bloc-9 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-9">
  <div class="container bloc-md">
    <div class="row">

      <div class="col-sm-12">
        <div class="row">
          <% @shows.each do |show| %>
            <div class="col-sm-4">
              <%= image_tag 'nekfeu_concert' , {:class=>'img-responsive'}  %>
              <h4 class="mg-md">
              <p>Artiste : <%= show.artist %> </p>
              </h4>
              <h4 class="mg-md">
              <p> Date : <%= show.date %> </p>
              </h4>
              <h4 class="mg-md">
              <p> Adresse : <%= show.adress %> </p>
              </h4>
              <h4 class="mg-md">
              <p> Prix : <%= show.price %> € </p>
              </h4>
              <h4 class="mg-md">
              <p> Places : <%= show.places %> </p>
              </h4>
              <div class="divider-h">
                <span class="divider"></span>
              </div>
              <%= form_for(show) do |f| %>
              <%= f.submit 'Réserver',{:class=>'btn btn-block btn-blue-gray bloc-button'} %>
              <%end%>
              <div class="divider-h">
                <span class="divider"></span>
              </div>
              <div class="fb-like" data-href="http://localhost:3000/pages/concerts" data-layout="button" data-action="recommend" data-size="small" data-show-faces="true" data-share="true"></div>
              <div class="fb-comments" data-href="http://localhost:3000/pages/concerts" data-width="10" data-numposts="3"></div>
            </div>
            <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-9 END -->
