<!-- bloc-1 -->
<div class="bloc b-parallax bg-image2 bgc-celestial-blue d-bloc tc-white-smoke" id="bloc-1">
  <div class="container bloc-md">
    <div class="row drag-obj">
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-check-square-o icon-lg icon-round pressed-t icon-2967 animated zoomIn animDelay02"></span>
        </div>
        <h3 class="text-center mg-md text-w-sm lg-shadow animated zoomIn animDelay02">
          <strong>Inscris toi</strong>
        </h3>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="ion ion-at icon-round icon-lg pressed-t animated zoomIn animDelay04"></span>
        </div>
        <h3 class="mg-md text-w-sm lg-shadow text-left text-center animated zoomIn animDelay04">
          <strong>Connectes toi</strong>
        </h3>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-comments icon-round icon-lg pressed-t animated zoomIn animDelay06"></span>
        </div>
        <h3 class="text-center mg-md text-w-sm lg-shadow animated zoomIn animDelay06">
          <strong>Commentes</strong>
        </h3>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-child icon-round icon-lg pressed-t animated zoomIn animDelay08"></span>
        </div>
        <h3 class="mg-md text-center text-w-sm lg-shadow animated zoomIn animDelay08">
          <strong>Kiff</strong>
        </h3>
      </div>
    </div>
    <div class="row voffset-md">
      <div class="col-sm-12">
        <form id="form_448" novalidate>
          <div class="form-group">
            <label>
              Rechercher un concert
            </label>
            <!-- <input class="form-control" placeholder="Ex : Nekfeu" id="input_416" /> -->
            <%= text_field :input , :_416 , {:class=>'form-control', :placeholder=>'Ex : Nekfeu'} %>
          </div>
          <!-- <a href="concerts.html" class="btn  btn-block btn-celestial-blue">Rechercher</a> -->
          <%= submit_tag 'Rechercher', {:class=>'btn  btn-block btn-celestial-blue'} %>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- bloc-1 END -->

<!-- bloc-2 -->

<div class="bloc bgc-white-smoke l-bloc" id="bloc-2">
  <div class="container bloc-md">
    <div class="row">
    <% @shows.each do |show| %>
      <div class="col-sm-3">
        <!-- <img src="img/placeholder-image.png" class="img-responsive" /> -->
        <%= image_tag 'nekfeu_concert' , {:class=>'img-responsive'}  %> <br/>
        <h4 class="mg-md">
        <p>Artiste : <%= show.artist %> </p>
        </h4>
        <h4 class="mg-md">
        <p> Date : <%= show.date %> </p>
        </h4>
        <h4 class="mg-md">
        <p> Adresse : <%= show.adress %> </p>
        </h4>
        <h4 class="mg-md">
        <p> Prix : <%= show.price %> </p>
        </h4>
        <h4 class="mg-md">
        <p> Places : <%= show.places %> </p>
        </h4>
        <!-- <a href="concerts.html" class="a-btn ltc-celestial-blue a-block">Voir</a> -->
      </div>
      <%end%>
    </div>
  </div>
</div>
<!-- bloc-2 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

