<!-- bloc-5 -->
<div class="bloc bgc-yellow-ncs l-bloc" id="bloc-5">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2 class="mg-clear tc-black text-center">
          Mon Profil
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- bloc-5 END -->

<!-- bloc-6 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-6">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel">
          <div class="panel-heading bgc-yellow-ncs">
            <h3 class="mg-clear text-center tc-black">
              Mes Informations
            </h3>
          </div>
          <div class="panel-body">
            <form id="form_2264" novalidate>
              <div class="form-group">
                <label>
                  Nom
                </label>
                <!-- <input class="form-control" id="input_1187" required placeholder="El Haddad" /> -->
                <%= text_field :input , :_1187 , {:class=>'form-control', :placeholder=>'El Haddad'} %>
              </div>
              <div class="form-group">
                <label>
                  Prénom
                </label>
                <!-- <input class="form-control" id="input_1803" required placeholder="Auriles" /> -->
                <%= text_field :input , :_1803 , {:class=>'form-control', :placeholder=>'Auriles'} %>
              </div>
              <div class="form-group">
                <label>
                  Email
                </label>
                <!-- <input class="form-control" id="input_1023" required placeholder="auriles0404@gmail.com" type="email" /> -->
                <%= text_field :input , :_1023 , {:class=>'form-control', :placeholder=>'auriles0404@gmail.com', :type=>'email'} %>
              </div>
              <!-- <a href="index.html" class="btn  btn-yellow-ncs pull-right">Modifier le mot de passe</a> -->
              <%= link_to 'Modifier le mot de passe', '#', {:class=>'btn btn-yellow-ncs pull-right'} %>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel">
          <div class="panel-heading bgc-white-smoke">
            <!-- <img src="img/broken-img.png" class="img-circle img-frame-rd" width="100" height="100" /> -->
            <%= image_tag 'images/' , {:class=>'img-circle img-frame-rd', :width=>'100', :height=>'100' }  %>
          </div>
          <div class="panel-body">
            <form id="form_1041" novalidate>
              <div class="form-group">
                <!-- <textarea class="form-control" rows="4" cols="50" id="description" data-validation-required-message="description is required." placeholder="Développeur Frontend actuellement à la recherche d'une alternance !"></textarea> -->
                <%= text_field :textarea , :description , {:class=>'form-control', :placeholder=>'Développeur Frontend actuellement à la recherche d\'une alternance !'} %>
              </div>
            </form>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading bgc-yellow-ncs">
            <h3 class="mg-clear text-center tc-black">
              Mes concerts
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="panel">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="panel">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="panel">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="panel">
                  <div class="panel-body">
                    <ul class="list-unstyled">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-6 END -->
