  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- bloc-3 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-3">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-12">
        <%= form_for(show) do |f| %>
          <h1 class="mg-md text-center">
            Création d'un concert
          </h1>
          <div class="form-group">
            <%= f.label :Artiste %><br />
            <%= f.text_field :artist , {:class=>'form-control', :placeholder=>'Entrez le nom d\'un artiste'} %>
          </div>
          <div class="form-group">
            <%= f.label :Date_du_concert %><br />
            <%= f.date_select :date, {:class=>'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :Adresse %><br />
            <%= f.text_field :adress, {:class=>'form-control', :placeholder=>'Entrez l\'adresse du concert'} %>
          </div>
          <div class="form-group">
            <%= f.label :Prix %><br />
            <%= f.number_field :price, {:class=>'form-control', :placeholder=>'Veuillez saisir le prix d\'une place de concert'} %>
          </div>
          <div class="form-group">
            <%= f.label :Places %><br />
            <%= f.number_field :places, {:class=>'form-control', :placeholder=>'Veuillez saisir le nombre de places que vous souhaitez'} %>
          </div>
          <%= f.submit 'Créer un concert', {:class=>'bloc-button btn btn-block btn-sm btn-rd btn-medium-spring-green actions'} %>
          </button>
        <%end%>
      </div>
    </div>
  </div>
</div>
<!-- bloc-3 END -->
