  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- bloc-3 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-3">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-12">
        <%= form_for(show) do |f| %>
          <h1 class="mg-md text-center">
            Création d'un concert
          </h1>
          <div class="form-group">
            <!-- <label>
              Nom
            </label> -->
            <%= f.label :Artiste %><br />
            <!-- <input id="name" class="form-control" required placeholder="Entrez votre nom" /> -->
            <%= f.text_field :artist , {:class=>'form-control', :placeholder=>'Entrez le nom d\'un artiste'} %>
          </div>
          <div class="form-group">
            <!-- <label>
              Prénom
            </label> -->
            <%= f.label :Date_du_concert %><br />
            <!-- <input id="prénom" class="form-control" required placeholder="Entrez votre prénom" data-validation-required-message="prénom is required." /> -->
            <%= f.date_select :date, {:class=>'form-control'} %>
          </div>
          <div class="form-group">
            <!-- <label>
              Email
            </label> -->
            <%= f.label :Adresse %><br />
            <!-- <input id="email" class="form-control" type="email" required placeholder="Entrez votre adresse email" /> -->
            <%= f.text_field :adress, {:class=>'form-control', :placeholder=>'Entrez l\'adresse du concert'} %>
          </div>
          <div class="form-group">
            <!-- <label>
              Mot de passe
            </label> -->
            <%= f.label :Prix %><br />
            <!-- <input id="identifiant" class="form-control" required placeholder="Veuillez choisir un mot de passe" maxlength="25" data-validation-required-message="identifiant is required." /> -->
            <%= f.number_field :price, {:class=>'form-control', :placeholder=>'Veuillez saisir le prix d\'une place de concert'} %>
          </div>
          <div class="form-group">
            <!-- <label>
              Confirmation de mot de passe
            </label> -->
            <%= f.label :Places %><br />
            <!-- <input id="mdp" class="form-control" required placeholder="Veuillez confirmer votre mot de passe" maxlength="25" data-validation-required-message="mdp is required." /> -->
            <%= f.number_field :places, {:class=>'form-control', :placeholder=>'Veuillez saisir le nombre de places que vous souhaitez'} %>
          </div>
          <!-- <button class="bloc-button btn btn-block btn-sm btn-rd btn-medium-spring-green" type="submit"> -->
          <%= f.submit 'Créer un concert', {:class=>'bloc-button btn btn-block btn-sm btn-rd btn-medium-spring-green actions'} %>
            <!-- <span class="ion ion-android-done icon-sm"></span> -->
          </button>
        <%end%>
      </div>
    </div>
  </div>
</div>
<!-- bloc-3 END -->
