<!-- bloc-7 -->
<div class="bloc bgc-blue-gray l-bloc" id="bloc-7">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="mg-clear tc-black text-center">
          Les Concerts du moment
        </h2>
      </div>
    </div>
  </div>
</div>
<!-- bloc-7 END -->

<!-- bloc-8 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-8">
  <div class="container">
    <div class="row voffset">
      <div class="col-sm-12">
        <form id="form_36" novalidate>
          <div class="form-group">
            <label>
              Rechercher un concert
            </label>
            <%= text_field :input , :_1115 , {:class=>'form-control', :placeholder=>'Ex : Nekfeu'} %>
          </div>
          <%= submit_tag 'Rechercher', {:class=>'btn btn-block btn-blue-gray'} %>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- bloc-8 END -->

<!-- bloc-9 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-9">
  <div class="container bloc-md">
    <div class="row">

      <div class="col-sm-12">
        <div class="row">
          <% @shows.each do |show| %>
            <div class="col-sm-3">
              <%= image_tag 'nekfeu_concert' , {:class=>'img-responsive'}  %>
              <h4 class="mg-md">
              <p>Artiste : <%= show.artist %> </p>
              </h4>
              <h4 class="mg-md">
              <p> Date : <%= show.date %> </p>
              </h4>
              <h4 class="mg-md">
              <p> Adresse : <%= show.adress %> </p>
              </h4>
              <h4 class="mg-md">
              <p> Prix : <%= show.price %> </p>
              </h4>
              <h4 class="mg-md">
              <p> Places : <%= show.places %> </p>
              </h4>
              <div class="divider-h">
                <span class="divider"></span>
              </div>
              <%= form_for(show) do |f| %>
              <%= f.submit 'Réserver', new_reservation_show_path(@show) {:class=>'btn btn-block btn-blue-gray bloc-button'} %>
              <%end%>
              <div class="divider-h">
                <span class="divider"></span>
              </div>
              <form id="form_794" novalidate>
                <div class="form-group">
                  <label>
                    Commentaires
                  </label>
                  <%= text_field :textarea , :_2466 , {:class=>'form-control', :placeholder=>'Soyez le premier à commenter !'} %>
                </div>
              </form>
            </div>
            <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-9 END -->
