
<p id="notice"><%= notice %></p>

<h1>Liste des utilisateurs</h1>
<h3><%= link_to '=> Afficher la liste des concerts', shows_path%></h3>

<!-- bloc-0 -->
<div class="bloc l-bloc bgc-white" id="bloc-0">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-3">
        <span class="empty-column">
          <strong><th>Nom</th><strong/> <br/>
          <% @users.each do |user| %> <br/>
          <tr>
            <td><%= user.name %></td>
           <%end%>
          </tr>
        </span>
      </div>
      <div class="col-sm-3">
        <span class="empty-column">
          <th>Prénom</th> <br/>
          <% @users.each do |user| %> <br/>
          <tr>
            <td><%= user.firstname %></td>
           <%end%>
          </tr>
        </span>
      </div>
      <div class="col-sm-3">
        <span class="empty-column">
          <th>Email</th> <br/>
          <% @users.each do |user| %> <br/>
          <tr>
            <td><%= user.email %></td>
           <%end%>
          </tr>
        </span>
      </div>
      <div class="col-sm-3">
        <span class="empty-column">
          <th>Options</th> <br/>
          <% @users.each do |user| %> <br/>
          <tr>
            <td><%= link_to 'Voir |', user %></td>
            <td><%= link_to 'Mon Profil |', users_profile_path %></td>
            <td><%= link_to 'Supprimer', user_url(user), method: :delete , data: { confirm: 'Are you sure?' } %></td>
           <%end%>
          </tr>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- bloc-0 END -->
</div>
<!-- Main container END -->

<!-- Google Analytics -->

<!-- Google Analytics END -->




<%= current_user %>

