<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Profile', pages_profile_path %> |
<%= link_to 'Index', pages_index_path %> |
<%= link_to 'Login', pages_login_path %> |
<%= link_to 'Concerts', pages_concerts_path %> |
<%= link_to 'Register', pages_register_path %>

