<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @reservation.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @reservation.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Nb tickets:</strong>
  <%= @reservation.nb_tickets %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
